---
import Layout from '../../layouts/Layout.astro'
import { newtClient } from '../../lib/newt'
import type { Article } from '../../lib/newt'

export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: 'blog',
    modelUid: 'article',
    query: {
      select: ['title', 'slug', 'body','coverImage'],
    },
  })
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }))
}


const { article } = Astro.props
console.log(article.coverImage);

---

<Layout title={article.title} >
  <main>
    <h2>{article.title}</h2>
    
    <img src={article.coverImage.src} alt="">
    <article set:html={article.body} />

  </main>
</Layout>