---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

import { newtClient } from '../lib/newt'
import type { Article } from '../lib/newt'

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body','coverImage'],
  },
})
---

<Layout title="ゆがきのゆ">
	<Header></Header>
	<p>hellow yugaki!</p>
	<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Click me</button>
	<ul>
		{
			articles.map((article) => {
				return (
					<li>
						<a href={`/articles/${article.slug}`}>

							<img src={article.coverImage.src} alt="">
							<h1>{article.title}</h1>
					
							</a>
					</li>
				)
			})
		}
	</ul>
</Layout>


<script>

</script>