---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<p>hellow yugaki!</p>
	<a href="https://fieldcoltd.slack.com/team/U04SWRC0XQT" target="_blank">墓</a>
</Layout>
